<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="DevMage\PatternObserverModOne\Logger\Handler"
                 type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/observer_execution.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="DevMage\PatternObserverModOne\Logger\Logger"
                 type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Observer 1 Execution Test Log</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">DevMage\PatternObserverModOne\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="DevMage\PatternObserverModOne\Observer\QuoteAddItem">
        <arguments>
            <argument name="logger" xsi:type="object">DevMage\PatternObserverModOne\Logger\Logger</argument>
        </arguments>
    </type>

</config>

