<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_add_item">
        <observer name="devmage_observer_two"
                  instance="DevMage\PatternObserverModTwo\Observer\QuoteAddItem" />
    </event>
</config>
